@font-face{
    font-family: 'Poppins';
    src:url('../font/Poppins-Regular.ttf')format(Truetype);
    src:url('../font/Poppins-Italic.ttf')format(Truetype);
    src:url('../font/Poppins-SemiBold.ttf')format(Truetype);
}